body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
}

button {
    background-color: gold;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: orange;
}

#mintingSection {
    margin-top: 30px;
}

input[type="number"] {
    font-size: 18px;
    padding: 5px;
    width: 50px;
    text-align: center;
}